@charset "UTF-8";
/**
Нормализация блочной модели
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
*/
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
*/
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
*/
button,
label {
  cursor: pointer;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
*/
:where(table) {
  border-collapse: collapse;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #312F2F;
  font-size: 1.2rem;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.todo-core {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 3rem;
}
@media (max-width: 768px) {
  .todo-core {
    padding: 6rem 1rem;
  }
}
.todo-core__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
}
.todo-core__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.todo-core__about-title {
  color: #A882DD;
  font-size: 10rem;
  text-align: center;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
@media (max-width: 768px) {
  .todo-core__about-title {
    font-size: 8rem;
  }
}
.todo-core__about-subtitle {
  font-size: 1.2rem;
  font-style: italic;
  color: #A882DD;
  opacity: 0.7;
  margin-top: -2rem;
}
@media (max-width: 768px) {
  .todo-core__about-subtitle {
    font-size: 1rem;
  }
}
.todo-core__form {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.1rem solid #D6A8F0;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
.todo-core__form:focus-within {
  border-color: #A882DD;
}
.todo-core__form-open-button {
  height: 100%;
  aspect-ratio: 1/2;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 1rem;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; /* Плавный переход */
}
@media (max-width: 768px) {
  .todo-core__form-open-button {
    padding-left: 0.5rem;
  }
}
.todo-core__form-open-button svg {
  fill: #A882DD;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.todo-core__form-open-button svg.closed {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.todo-core__form-open-button.hidden {
  opacity: 0;
  pointer-events: none;
}
.todo-core__form-input {
  width: 100%;
  padding: 1rem;
  border: none;
  caret-color: #A882DD;
  background-color: transparent;
  color: #312F2F;
}
.todo-core__form-input::-webkit-input-placeholder {
  color: #D6A8F0;
  opacity: 0.8;
}
.todo-core__form-input::-moz-placeholder {
  color: #D6A8F0;
  opacity: 0.8;
}
.todo-core__form-input:-ms-input-placeholder {
  color: #D6A8F0;
  opacity: 0.8;
}
.todo-core__form-input::-ms-input-placeholder {
  color: #D6A8F0;
  opacity: 0.8;
}
.todo-core__form-input::placeholder {
  color: #D6A8F0;
  opacity: 0.8;
}
.todo-core__form-input:focus {
  border: none;
  outline: none;
}
.todo-core__form-input.dark-theme {
  caret-color: #ffffff;
  color: #ffffff;
}
.todo-core__tasks {
  width: 100%;
}
.todo-core__tasks .todo-list {
  list-style-type: none;
  padding: 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.todo-core__tasks .todo-list.hidden {
  opacity: 0;
}
.todo-core__tasks .todo-list__task {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.1rem solid #ebebeb;
  padding: 1rem;
  border-top: none;
}
.todo-core__tasks .todo-list__task-state {
  width: 100%;
  max-width: 1.8rem;
  margin: 0;
  aspect-ratio: 1/1;
  border: 0.1rem solid #ebebeb;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
@media (max-width: 768px) {
  .todo-core__tasks .todo-list__task-state {
    max-width: 1.5rem;
  }
}
.todo-core__tasks .todo-list__task-state .todo-list__task-state-svg {
  width: 2rem;
  height: auto;
  position: absolute;
  top: 45%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.todo-core__tasks .todo-list__task-state .todo-list__task-state-svg path {
  fill: #A882DD;
}
.todo-core__tasks .todo-list__task-state .todo-list__task-state-svg.completed {
  opacity: 1;
}
.todo-core__tasks .todo-list__task-state.completed {
  border: 0.1rem solid #D6A8F0;
}
.todo-core__tasks .todo-list__task-state:hover {
  border: 0.1rem solid #D6A8F0;
}
.todo-core__tasks .todo-list__task-text {
  max-width: 27rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .todo-core__tasks .todo-list__task-text {
    max-width: 17rem;
  }
}
.todo-core__tasks .todo-list__task-text.completed {
  text-decoration: line-through;
  color: #D6A8F0;
  opacity: 0.7;
}
.todo-core__tasks .todo-list__task-close-button {
  width: 100%;
  max-width: 1.5rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  aspect-ratio: 1/1;
}
@media (max-width: 768px) {
  .todo-core__tasks .todo-list__task-close-button {
    max-width: 1.3rem;
  }
}
.todo-core__tasks .todo-list__task-close-button svg {
  width: 100%;
  height: 100%;
  fill: #ebebeb;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.todo-core__tasks .todo-list__task-close-button:hover svg {
  fill: #A882DD;
}
.todo-core__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .todo-core__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0;
    gap: 1rem;
    max-width: 60%;
  }
}
.todo-core__buttons.hidden {
  opacity: 0;
}
.todo-core__buttons .regularButton {
  width: 100%;
  padding: 1rem;
  color: #D6A8F0;
  background-color: transparent;
  border: 0.1rem solid #D6A8F0;
  -webkit-tap-highlight-color: transparent;
}
.todo-core__buttons .regularButton:hover {
  border-color: #A882DD;
  color: #A882DD;
}
.todo-core__buttons .regularButton:active:not(.select-sort) {
  background-color: rgba(214, 168, 255, 0.2);
}
.todo-core__buttons .select-sort {
  cursor: pointer;
}
.todo-core__buttons .select-sort:focus {
  border-color: #A882DD;
  outline: none;
}

.light-mod-toggler {
  position: absolute;
  width: 2rem;
  height: auto;
  top: 40px;
  right: 40px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .light-mod-toggler {
    top: 30px;
    right: 30px;
  }
}
.light-mod-toggler svg {
  fill: #312F2F;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
}

.moon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #D6A8F0;
  position: relative;
  -webkit-transition: background-color 0.3s ease ease-in-out;
  transition: background-color 0.3s ease ease-in-out;
}
@media (max-width: 768px) {
  .moon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.moon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.6rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  pointer-events: none;
}
@media (max-width: 768px) {
  .moon::before {
    left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.full-moon {
  background-color: #f0e68c;
}

.full-moon::before {
  left: 100%;
  background-color: #121212;
}